html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#my-brush{
  /* background-color: blueviolet; */
  width: 1000px;
  height: 600px;
  /* margin:10px; */

  position:absolute;
  left: 200px;
  top: 100px;
}

p{
  /* background-color: blueviolet; */
   margin:10px;

}

div{
      /* width: 300px; */
      /* height: 500px;  */
      border-width: 1 px;
      border-style: dotted;
      padding: 10 px 10 px 10 px 10 px;
      margin: 50 px 80 px;
      text-align: center;
}
