#p5-canvas-container {
    width: 640px;
    height: 480px;
    position: absolute;
    left: 650px;
    right: 650px;
    top: 420px;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    color: #DDA0DD;
    font-family: "Helvetica";
    font-weight: lighter;
    font-size: 16;
}

.center {
    display: block;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}